/* CSS */
.button55 {
  z-index: 9999;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  position: relative;
}

.button55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.parallax #stars1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 198px 1754px #daf7a6, 346px 1009px #85c1e9, 1990px 401px #ffc300,
    1446px 799px #82e0aa, 184px 1047px #ffc300, 1199px 151px #85c1e9,
    81px 1508px #ff5733, 1825px 691px #85c1e9, 1657px 853px #85c1e9,
    826px 1529px #ffc300, 964px 1971px #85c1e9, 1169px 1182px #85c1e9,
    645px 929px #85c1e9, 1224px 885px #82e0aa, 605px 1830px #daf7a6,
    800px 1630px #85c1e9, 997px 61px #85c1e9, 1173px 1119px #ffc300,
    438px 1719px #85c1e9, 1705px 99px #ff5733, 897px 1608px #ff5733,
    1982px 630px #ff5733, 54px 305px #82e0aa, 1027px 1386px #85c1e9,
    479px 134px #85c1e9, 1121px 1743px #ffc300, 541px 1680px #85c1e9,
    155px 936px #ff5733, 955px 1325px #daf7a6, 915px 1651px #daf7a6,
    1062px 637px #85c1e9, 454px 1622px #ffc300, 859px 1894px #82e0aa,
    736px 1251px #ffc300, 1599px 656px #daf7a6, 929px 1521px #85c1e9,
    1399px 683px #ffc300, 689px 1479px #85c1e9, 1817px 1577px #ff5733,
    1960px 1643px #daf7a6, 1278px 477px #daf7a6, 1485px 1422px #daf7a6,
    1088px 643px #ffc300, 545px 1385px #85c1e9, 1495px 670px #85c1e9,
    83px 1949px #daf7a6, 1013px 103px #daf7a6, 1282px 1350px #85c1e9,
    1324px 299px #85c1e9, 781px 1577px #82e0aa, 228px 736px #82e0aa,
    1018px 1774px #daf7a6, 763px 1690px #daf7a6, 1670px 1564px #85c1e9,
    1077px 945px #ffc300, 70px 1703px #daf7a6, 97px 31px #85c1e9,
    413px 1081px #85c1e9, 356px 803px #ffc300, 1040px 1262px #ffc300,
    1992px 935px #ffc300, 1481px 270px #ffc300, 406px 76px #ffc300,
    847px 1750px #ff5733, 1001px 1726px #85c1e9, 386px 57px #ff5733,
    679px 214px #85c1e9, 887px 1317px #ffc300, 1808px 1901px #85c1e9,
    954px 1389px #85c1e9, 1487px 498px #ff5733, 1976px 563px #85c1e9,
    770px 1977px #ffc300, 255px 153px #ffc300, 1350px 1758px #85c1e9,
    845px 689px #85c1e9, 1527px 716px #ffc300, 1612px 1910px #ffc300,
    578px 113px #daf7a6, 1369px 1310px #daf7a6, 243px 1775px #82e0aa,
    347px 1511px #82e0aa, 1075px 796px #ffc300, 475px 251px #ff5733,
    1529px 1370px #daf7a6, 1427px 1699px #daf7a6, 1270px 1539px #daf7a6,
    1696px 636px #ff5733, 774px 725px #85c1e9, 599px 1669px #85c1e9,
    1127px 1675px #85c1e9, 1031px 86px #85c1e9, 198px 1092px #85c1e9,
    439px 151px #82e0aa, 1826px 610px #daf7a6, 560px 962px #85c1e9,
    1130px 1993px #85c1e9, 644px 1239px #85c1e9, 1339px 1607px #82e0aa,
    478px 1416px #daf7a6, 1796px 1492px #82e0aa, 854px 1421px #85c1e9,
    55px 677px #85c1e9, 1617px 1694px #daf7a6, 1486px 979px #85c1e9,
    1216px 1775px #ff5733, 100px 743px #85c1e9, 1546px 667px #82e0aa,
    1649px 208px #82e0aa, 1018px 289px #ffc300, 1007px 1468px #ffc300,
    870px 1456px #ff5733, 1970px 566px #ff5733, 571px 912px #85c1e9,
    118px 225px #ffc300, 616px 41px #85c1e9, 956px 1448px #ff5733,
    137px 1876px #ff5733, 567px 532px #85c1e9, 230px 929px #85c1e9,
    582px 1901px #ff5733, 625px 860px #85c1e9, 1911px 15px #daf7a6,
    489px 916px #ffc300, 1050px 785px #ffc300, 198px 1982px #85c1e9,
    771px 1736px #82e0aa, 143px 787px #daf7a6, 177px 942px #ffc300,
    1653px 470px #ff5733, 1286px 1925px #85c1e9, 317px 1975px #85c1e9,
    576px 209px #ffc300, 1495px 63px #ff5733, 1935px 679px #85c1e9,
    114px 1953px #85c1e9, 707px 742px #85c1e9, 1531px 1140px #daf7a6,
    1648px 605px #85c1e9, 1016px 1286px #daf7a6, 984px 315px #daf7a6,
    595px 1062px #85c1e9, 1517px 925px #daf7a6, 850px 593px #ffc300,
    1768px 1825px #85c1e9, 54px 874px #82e0aa, 711px 1061px #85c1e9,
    1647px 422px #ff5733, 843px 1943px #daf7a6, 886px 796px #daf7a6,
    9px 82px #ffc300, 1044px 728px #85c1e9, 281px 1083px #ff5733,
    1589px 960px #85c1e9, 75px 478px #82e0aa, 1079px 675px #85c1e9,
    890px 1355px #85c1e9, 487px 1389px #82e0aa, 328px 740px #ff5733,
    774px 1098px #85c1e9, 1761px 405px #ff5733, 1511px 716px #daf7a6,
    1574px 54px #ffc300, 543px 1055px #85c1e9, 1670px 366px #ffc300,
    867px 1798px #daf7a6, 457px 1153px #daf7a6, 437px 885px #ff5733,
    775px 1147px #ff5733, 1146px 1446px #82e0aa, 1249px 719px #85c1e9,
    1719px 225px #85c1e9, 3px 1253px #ff5733, 1586px 1305px #ffc300,
    1898px 1659px #ffc300, 445px 812px #82e0aa, 1161px 1089px #85c1e9,
    1405px 1445px #85c1e9, 1992px 1888px #85c1e9, 1233px 1013px #ffc300,
    1299px 1560px #85c1e9, 973px 1954px #daf7a6, 187px 1222px #85c1e9,
    1987px 1631px #85c1e9, 298px 1972px #daf7a6, 302px 1880px #85c1e9,
    1781px 1998px #85c1e9, 1697px 1998px #daf7a6, 763px 1253px #85c1e9,
    604px 918px #82e0aa, 970px 614px #82e0aa, 63px 1892px #ff5733,
    1574px 75px #85c1e9, 1271px 1867px #daf7a6, 1466px 908px #ffc300,
    911px 513px #ffc300, 1243px 386px #85c1e9, 1676px 1520px #ff5733,
    228px 1195px #daf7a6, 1807px 1207px #ff5733, 493px 395px #85c1e9,
    461px 1423px #85c1e9, 146px 1733px #daf7a6, 990px 495px #85c1e9,
    1993px 1633px #daf7a6, 1787px 1353px #85c1e9, 1563px 784px #daf7a6,
    1633px 180px #82e0aa, 1343px 537px #ff5733, 1039px 1322px #82e0aa,
    901px 1052px #82e0aa, 1043px 995px #85c1e9, 1789px 593px #85c1e9,
    1570px 923px #ff5733, 1538px 349px #85c1e9, 1865px 1975px #ff5733,
    203px 602px #ff5733, 279px 1247px #85c1e9, 115px 1158px #ff5733,
    1776px 869px #ff5733, 1037px 317px #85c1e9, 1093px 881px #85c1e9,
    1330px 989px #daf7a6, 107px 36px #85c1e9, 729px 1373px #ffc300,
    1459px 82px #85c1e9, 491px 1269px #ffc300, 1570px 326px #daf7a6,
    1151px 294px #85c1e9, 219px 1364px #daf7a6, 559px 1161px #85c1e9,
    475px 1267px #ffc300, 1988px 1503px #ffc300, 1485px 220px #85c1e9,
    169px 182px #daf7a6, 818px 308px #85c1e9, 958px 1484px #ff5733,
    399px 274px #daf7a6, 1921px 617px #85c1e9, 42px 79px #daf7a6,
    1203px 678px #85c1e9, 767px 466px #ff5733, 1645px 1642px #82e0aa,
    889px 1580px #85c1e9, 815px 1318px #85c1e9, 587px 270px #85c1e9,
    1569px 1399px #ffc300, 445px 1428px #85c1e9, 393px 1246px #85c1e9,
    1352px 1363px #85c1e9, 1427px 1020px #85c1e9, 282px 1115px #82e0aa,
    1868px 162px #85c1e9, 210px 877px #85c1e9, 895px 1310px #daf7a6,
    1622px 65px #85c1e9, 635px 1835px #85c1e9, 176px 483px #85c1e9,
    1563px 1063px #85c1e9, 1957px 1782px #85c1e9, 1300px 993px #daf7a6,
    1826px 1504px #daf7a6, 1579px 832px #85c1e9, 1027px 1476px #85c1e9,
    586px 764px #ff5733, 81px 1477px #daf7a6, 718px 434px #ff5733,
    1950px 656px #85c1e9, 753px 32px #85c1e9, 1842px 693px #85c1e9,
    1178px 1628px #85c1e9, 1100px 1598px #daf7a6, 1107px 955px #daf7a6,
    673px 1212px #85c1e9, 1323px 1902px #85c1e9, 1086px 1398px #85c1e9,
    132px 1975px #82e0aa, 1953px 1076px #85c1e9, 32px 1356px #85c1e9,
    1967px 1348px #daf7a6, 735px 1783px #ff5733, 235px 146px #85c1e9,
    1079px 994px #daf7a6, 1014px 1067px #85c1e9, 1180px 1060px #85c1e9,
    1369px 1869px #82e0aa, 423px 560px #85c1e9, 1166px 1603px #ff5733,
    1342px 807px #85c1e9, 135px 1649px #85c1e9, 1797px 1002px #85c1e9,
    1291px 1532px #85c1e9, 1514px 899px #85c1e9, 1101px 187px #85c1e9,
    268px 1484px #ffc300, 388px 1873px #ffc300, 1231px 1309px #ffc300,
    696px 316px #ffc300, 1251px 1864px #85c1e9, 248px 70px #85c1e9,
    1926px 1437px #ff5733, 545px 1380px #85c1e9, 534px 1474px #85c1e9,
    240px 904px #85c1e9, 1341px 636px #ff5733, 1978px 998px #ffc300,
    1554px 1488px #85c1e9, 937px 453px #85c1e9, 1636px 294px #85c1e9,
    1224px 1681px #85c1e9, 1250px 65px #daf7a6, 930px 910px #ffc300,
    219px 1285px #85c1e9, 1059px 21px #daf7a6, 512px 770px #ffc300,
    212px 196px #ffc300, 889px 1061px #85c1e9, 902px 1933px #daf7a6,
    458px 542px #82e0aa, 835px 1653px #85c1e9, 1660px 1541px #ff5733,
    350px 1268px #daf7a6, 643px 1639px #85c1e9, 1388px 803px #82e0aa,
    484px 1666px #85c1e9, 1262px 309px #85c1e9, 133px 1518px #85c1e9,
    1695px 1152px #85c1e9, 1715px 330px #85c1e9, 950px 739px #ff5733,
    1598px 1975px #ffc300, 1882px 874px #85c1e9, 464px 927px #ffc300,
    752px 1462px #ff5733, 1118px 11px #ffc300, 694px 521px #85c1e9,
    1719px 1902px #85c1e9, 323px 840px #85c1e9, 1204px 571px #85c1e9,
    1180px 1991px #85c1e9, 445px 860px #daf7a6, 491px 220px #82e0aa,
    1937px 102px #85c1e9, 1175px 355px #ffc300, 1928px 542px #ffc300,
    15px 1677px #daf7a6, 274px 256px #daf7a6, 1697px 1459px #85c1e9,
    274px 417px #ff5733, 83px 461px #ff5733, 773px 589px #daf7a6,
    1432px 354px #82e0aa, 357px 466px #ffc300, 1503px 520px #82e0aa,
    844px 1731px #ffc300, 1067px 1218px #85c1e9, 74px 415px #85c1e9,
    1058px 903px #daf7a6, 1402px 1007px #82e0aa, 1246px 452px #85c1e9,
    1961px 1054px #daf7a6, 950px 134px #85c1e9, 521px 1146px #85c1e9,
    1165px 648px #daf7a6, 1465px 825px #daf7a6, 522px 1254px #ff5733,
    1360px 973px #ff5733, 1307px 873px #82e0aa, 477px 2px #85c1e9,
    713px 1783px #ffc300, 308px 151px #daf7a6, 1172px 1515px #82e0aa,
    1419px 342px #85c1e9, 71px 594px #daf7a6, 1465px 940px #85c1e9,
    617px 716px #82e0aa, 821px 815px #ff5733, 1264px 1605px #ff5733,
    1762px 1564px #daf7a6, 1675px 315px #ffc300, 562px 1690px #85c1e9,
    1773px 469px #82e0aa, 1445px 1556px #85c1e9, 1084px 504px #85c1e9,
    1131px 626px #85c1e9, 325px 1210px #ffc300, 436px 1429px #85c1e9,
    788px 1393px #daf7a6, 1210px 1851px #daf7a6, 1255px 1444px #daf7a6,
    1542px 1178px #85c1e9, 1162px 506px #85c1e9, 1035px 324px #85c1e9,
    843px 1818px #ffc300, 1341px 452px #ffc300, 1351px 478px #ff5733,
    339px 831px #daf7a6, 1863px 1245px #85c1e9, 1257px 635px #85c1e9,
    127px 1975px #ffc300, 332px 146px #ff5733, 267px 1110px #85c1e9,
    1688px 2000px #ff5733, 286px 716px #85c1e9, 800px 1087px #85c1e9,
    838px 1082px #daf7a6, 1596px 841px #ffc300, 453px 1718px #daf7a6,
    1053px 790px #ffc300, 1354px 1786px #85c1e9, 1449px 1032px #85c1e9,
    530px 26px #85c1e9, 1957px 799px #85c1e9, 1682px 68px #daf7a6,
    1841px 1502px #82e0aa, 697px 1981px #82e0aa, 1521px 168px #85c1e9,
    1029px 581px #85c1e9, 1545px 1061px #daf7a6, 682px 1258px #85c1e9,
    133px 623px #82e0aa, 138px 269px #ffc300, 443px 1912px #ffc300,
    766px 849px #ff5733, 628px 1998px #ffc300, 1936px 231px #85c1e9,
    1824px 104px #daf7a6, 775px 1401px #ff5733, 1621px 1495px #82e0aa,
    311px 516px #ffc300, 1577px 1003px #daf7a6, 814px 1558px #ff5733,
    945px 165px #85c1e9, 801px 1457px #85c1e9, 1422px 1984px #daf7a6,
    76px 1290px #daf7a6, 33px 505px #daf7a6, 666px 206px #daf7a6,
    246px 1301px #82e0aa, 501px 10px #85c1e9, 1951px 211px #ff5733,
    1653px 1415px #85c1e9, 1049px 724px #85c1e9, 117px 1260px #85c1e9,
    1064px 1979px #daf7a6, 303px 799px #85c1e9, 1440px 1913px #daf7a6,
    1395px 1955px #daf7a6, 944px 897px #ff5733, 266px 222px #daf7a6,
    741px 1613px #85c1e9, 1984px 1628px #85c1e9, 1788px 640px #85c1e9,
    1167px 1930px #85c1e9, 177px 1237px #ff5733, 822px 646px #ffc300,
    1818px 1265px #ffc300, 494px 493px #daf7a6, 839px 1301px #ffc300,
    446px 823px #daf7a6, 1992px 746px #85c1e9, 827px 910px #85c1e9,
    790px 17px #daf7a6, 1652px 173px #ffc300, 527px 1367px #85c1e9,
    1177px 417px #82e0aa, 479px 229px #ffc300, 1970px 1775px #85c1e9,
    131px 664px #85c1e9, 1201px 1791px #ff5733, 1517px 1624px #85c1e9,
    1677px 1129px #85c1e9, 611px 819px #ffc300, 227px 306px #85c1e9,
    872px 1578px #85c1e9, 662px 679px #85c1e9, 1198px 1287px #85c1e9,
    295px 243px #82e0aa, 1081px 19px #85c1e9, 1490px 1238px #daf7a6,
    495px 677px #85c1e9, 1460px 295px #85c1e9, 110px 773px #85c1e9,
    1282px 686px #ffc300, 1812px 1885px #daf7a6, 680px 1022px #daf7a6,
    960px 454px #85c1e9, 761px 1384px #ffc300, 1399px 570px #85c1e9,
    244px 1946px #daf7a6, 255px 499px #85c1e9, 1214px 25px #85c1e9,
    826px 1840px #daf7a6, 1455px 1553px #85c1e9, 629px 1018px #85c1e9,
    1107px 52px #85c1e9, 1686px 1853px #85c1e9, 24px 1223px #85c1e9,
    1852px 1894px #85c1e9, 397px 237px #ff5733, 121px 1273px #ffc300,
    975px 829px #ff5733, 778px 1120px #85c1e9, 1246px 1568px #85c1e9,
    650px 71px #85c1e9, 179px 63px #ff5733, 1787px 1256px #daf7a6,
    1152px 1108px #daf7a6, 768px 308px #daf7a6, 250px 429px #82e0aa,
    861px 505px #82e0aa, 862px 1729px #ff5733, 353px 1619px #daf7a6,
    544px 1751px #85c1e9, 638px 1297px #85c1e9, 568px 351px #85c1e9,
    1113px 1874px #85c1e9, 59px 1911px #daf7a6, 1676px 1041px #daf7a6,
    1817px 1421px #85c1e9, 873px 741px #ff5733, 35px 1163px #ffc300,
    1016px 997px #85c1e9, 1083px 1780px #85c1e9, 1306px 510px #daf7a6,
    1652px 1124px #85c1e9, 21px 1477px #85c1e9, 675px 1470px #daf7a6,
    322px 891px #85c1e9, 1789px 1112px #ffc300, 187px 1257px #82e0aa,
    1248px 1345px #ff5733, 1092px 1699px #ff5733, 871px 1947px #82e0aa,
    1369px 1767px #85c1e9, 1954px 82px #daf7a6, 689px 1919px #ffc300,
    1769px 1990px #85c1e9, 868px 215px #ff5733, 556px 1406px #85c1e9,
    322px 309px #ff5733, 38px 1729px #ffc300, 1223px 48px #85c1e9,
    1953px 1161px #ffc300, 1907px 1326px #85c1e9, 1750px 279px #85c1e9,
    1186px 1047px #daf7a6, 773px 1680px #85c1e9, 694px 592px #ff5733,
    441px 501px #82e0aa, 1475px 486px #82e0aa, 77px 1978px #daf7a6,
    22px 62px #ffc300, 1191px 27px #85c1e9, 546px 689px #ffc300,
    58px 1881px #ffc300, 1094px 803px #daf7a6, 1718px 721px #daf7a6,
    1920px 522px #85c1e9, 1851px 838px #daf7a6, 1757px 1381px #85c1e9,
    699px 1398px #ffc300, 1884px 1001px #ffc300, 46px 1198px #85c1e9,
    60px 758px #85c1e9, 143px 1984px #ffc300, 743px 1153px #85c1e9,
    1527px 799px #82e0aa, 818px 309px #85c1e9, 1179px 471px #85c1e9,
    1918px 555px #daf7a6, 1267px 913px #ffc300, 385px 280px #85c1e9,
    1271px 700px #ff5733, 1849px 1611px #85c1e9, 1235px 473px #ffc300,
    252px 1606px #85c1e9, 546px 306px #85c1e9, 1019px 1840px #daf7a6,
    1406px 21px #82e0aa, 663px 1573px #daf7a6, 280px 1276px #85c1e9,
    1344px 596px #daf7a6, 154px 1863px #daf7a6, 793px 1580px #ffc300,
    1101px 485px #85c1e9, 1764px 1545px #daf7a6, 1989px 633px #85c1e9,
    875px 1513px #85c1e9, 1535px 1521px #ff5733, 93px 944px #85c1e9,
    894px 85px #85c1e9, 793px 1039px #85c1e9, 654px 1309px #82e0aa,
    1176px 1712px #ffc300, 340px 1344px #ff5733, 1338px 1969px #ff5733,
    1837px 430px #ff5733, 1579px 153px #ff5733, 714px 274px #82e0aa,
    1787px 3px #85c1e9, 1214px 57px #daf7a6, 147px 1306px #85c1e9,
    1586px 175px #85c1e9, 1873px 1139px #85c1e9, 503px 1704px #85c1e9,
    932px 1840px #85c1e9, 305px 952px #ffc300, 1529px 386px #82e0aa,
    1887px 847px #ffc300, 1302px 1114px #ffc300, 291px 1381px #82e0aa,
    45px 1940px #daf7a6, 560px 1680px #85c1e9, 1447px 1154px #85c1e9,
    1623px 1983px #ffc300, 1504px 701px #ffc300, 1195px 1639px #85c1e9,
    1281px 1362px #daf7a6, 575px 1973px #85c1e9, 144px 1726px #ff5733,
    733px 1949px #85c1e9, 1692px 1231px #ff5733, 394px 960px #85c1e9,
    1591px 1928px #85c1e9, 1281px 173px #85c1e9, 1901px 640px #85c1e9,
    67px 1025px #daf7a6, 903px 1899px #85c1e9, 574px 1705px #ffc300,
    702px 1197px #85c1e9, 1528px 1144px #daf7a6, 1028px 725px #daf7a6,
    167px 1463px #ffc300, 1577px 1334px #82e0aa, 393px 73px #82e0aa,
    1919px 99px #ffc300, 553px 1304px #ffc300, 464px 383px #ffc300,
    910px 80px #ff5733, 631px 1882px #85c1e9, 1360px 1439px #85c1e9,
    1091px 620px #ff5733, 1004px 1983px #85c1e9, 848px 633px #daf7a6,
    754px 1403px #ff5733, 623px 1300px #ff5733, 1215px 1750px #85c1e9,
    1160px 1020px #82e0aa, 497px 1890px #ffc300, 822px 801px #85c1e9,
    1496px 680px #85c1e9, 703px 162px #85c1e9, 674px 1482px #85c1e9,
    1144px 293px #85c1e9, 1537px 1431px #daf7a6, 838px 406px #daf7a6,
    1004px 659px #daf7a6, 1119px 296px #daf7a6, 170px 609px #ffc300,
    1576px 816px #ffc300, 12px 42px #ff5733, 1014px 827px #85c1e9,
    1636px 1335px #85c1e9, 1108px 522px #82e0aa, 1501px 623px #daf7a6,
    1402px 1766px #ff5733, 998px 633px #ffc300, 1190px 1340px #ffc300,
    1009px 626px #85c1e9, 1150px 573px #daf7a6, 362px 1327px #85c1e9,
    10px 339px #ff5733, 65px 1334px #85c1e9, 1513px 511px #85c1e9,
    1544px 56px #85c1e9, 1630px 915px #daf7a6, 851px 254px #ffc300,
    963px 464px #daf7a6, 979px 1255px #82e0aa, 1849px 1558px #ffc300,
    1895px 1758px #85c1e9, 435px 132px #daf7a6, 101px 1784px #85c1e9,
    1743px 1544px #85c1e9, 1942px 1066px #ffc300, 1122px 1558px #85c1e9,
    1074px 549px #ffc300, 547px 373px #daf7a6, 1770px 42px #85c1e9,
    529px 814px #85c1e9, 1239px 1199px #85c1e9, 1022px 1976px #82e0aa,
    478px 1907px #ffc300, 1826px 351px #daf7a6, 1223px 1905px #ff5733,
    1847px 1609px #85c1e9, 461px 387px #daf7a6, 387px 1793px #85c1e9,
    979px 1405px #82e0aa;
  animation: animStar 150s linear infinite;
}
.parallax #stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 198px 1754px #daf7a6, 346px 1009px #85c1e9, 1990px 401px #ffc300,
    1446px 799px #82e0aa, 184px 1047px #ffc300, 1199px 151px #85c1e9,
    81px 1508px #ff5733, 1825px 691px #85c1e9, 1657px 853px #85c1e9,
    826px 1529px #ffc300, 964px 1971px #85c1e9, 1169px 1182px #85c1e9,
    645px 929px #85c1e9, 1224px 885px #82e0aa, 605px 1830px #daf7a6,
    800px 1630px #85c1e9, 997px 61px #85c1e9, 1173px 1119px #ffc300,
    438px 1719px #85c1e9, 1705px 99px #ff5733, 897px 1608px #ff5733,
    1982px 630px #ff5733, 54px 305px #82e0aa, 1027px 1386px #85c1e9,
    479px 134px #85c1e9, 1121px 1743px #ffc300, 541px 1680px #85c1e9,
    155px 936px #ff5733, 955px 1325px #daf7a6, 915px 1651px #daf7a6,
    1062px 637px #85c1e9, 454px 1622px #ffc300, 859px 1894px #82e0aa,
    736px 1251px #ffc300, 1599px 656px #daf7a6, 929px 1521px #85c1e9,
    1399px 683px #ffc300, 689px 1479px #85c1e9, 1817px 1577px #ff5733,
    1960px 1643px #daf7a6, 1278px 477px #daf7a6, 1485px 1422px #daf7a6,
    1088px 643px #ffc300, 545px 1385px #85c1e9, 1495px 670px #85c1e9,
    83px 1949px #daf7a6, 1013px 103px #daf7a6, 1282px 1350px #85c1e9,
    1324px 299px #85c1e9, 781px 1577px #82e0aa, 228px 736px #82e0aa,
    1018px 1774px #daf7a6, 763px 1690px #daf7a6, 1670px 1564px #85c1e9,
    1077px 945px #ffc300, 70px 1703px #daf7a6, 97px 31px #85c1e9,
    413px 1081px #85c1e9, 356px 803px #ffc300, 1040px 1262px #ffc300,
    1992px 935px #ffc300, 1481px 270px #ffc300, 406px 76px #ffc300,
    847px 1750px #ff5733, 1001px 1726px #85c1e9, 386px 57px #ff5733,
    679px 214px #85c1e9, 887px 1317px #ffc300, 1808px 1901px #85c1e9,
    954px 1389px #85c1e9, 1487px 498px #ff5733, 1976px 563px #85c1e9,
    770px 1977px #ffc300, 255px 153px #ffc300, 1350px 1758px #85c1e9,
    845px 689px #85c1e9, 1527px 716px #ffc300, 1612px 1910px #ffc300,
    578px 113px #daf7a6, 1369px 1310px #daf7a6, 243px 1775px #82e0aa,
    347px 1511px #82e0aa, 1075px 796px #ffc300, 475px 251px #ff5733,
    1529px 1370px #daf7a6, 1427px 1699px #daf7a6, 1270px 1539px #daf7a6,
    1696px 636px #ff5733, 774px 725px #85c1e9, 599px 1669px #85c1e9,
    1127px 1675px #85c1e9, 1031px 86px #85c1e9, 198px 1092px #85c1e9,
    439px 151px #82e0aa, 1826px 610px #daf7a6, 560px 962px #85c1e9,
    1130px 1993px #85c1e9, 644px 1239px #85c1e9, 1339px 1607px #82e0aa,
    478px 1416px #daf7a6, 1796px 1492px #82e0aa, 854px 1421px #85c1e9,
    55px 677px #85c1e9, 1617px 1694px #daf7a6, 1486px 979px #85c1e9,
    1216px 1775px #ff5733, 100px 743px #85c1e9, 1546px 667px #82e0aa,
    1649px 208px #82e0aa, 1018px 289px #ffc300, 1007px 1468px #ffc300,
    870px 1456px #ff5733, 1970px 566px #ff5733, 571px 912px #85c1e9,
    118px 225px #ffc300, 616px 41px #85c1e9, 956px 1448px #ff5733,
    137px 1876px #ff5733, 567px 532px #85c1e9, 230px 929px #85c1e9,
    582px 1901px #ff5733, 625px 860px #85c1e9, 1911px 15px #daf7a6,
    489px 916px #ffc300, 1050px 785px #ffc300, 198px 1982px #85c1e9,
    771px 1736px #82e0aa, 143px 787px #daf7a6, 177px 942px #ffc300,
    1653px 470px #ff5733, 1286px 1925px #85c1e9, 317px 1975px #85c1e9,
    576px 209px #ffc300, 1495px 63px #ff5733, 1935px 679px #85c1e9,
    114px 1953px #85c1e9, 707px 742px #85c1e9, 1531px 1140px #daf7a6,
    1648px 605px #85c1e9, 1016px 1286px #daf7a6, 984px 315px #daf7a6,
    595px 1062px #85c1e9, 1517px 925px #daf7a6, 850px 593px #ffc300,
    1768px 1825px #85c1e9, 54px 874px #82e0aa, 711px 1061px #85c1e9,
    1647px 422px #ff5733, 843px 1943px #daf7a6, 886px 796px #daf7a6,
    9px 82px #ffc300, 1044px 728px #85c1e9, 281px 1083px #ff5733,
    1589px 960px #85c1e9, 75px 478px #82e0aa, 1079px 675px #85c1e9,
    890px 1355px #85c1e9, 487px 1389px #82e0aa, 328px 740px #ff5733,
    774px 1098px #85c1e9, 1761px 405px #ff5733, 1511px 716px #daf7a6,
    1574px 54px #ffc300, 543px 1055px #85c1e9, 1670px 366px #ffc300,
    867px 1798px #daf7a6, 457px 1153px #daf7a6, 437px 885px #ff5733,
    775px 1147px #ff5733, 1146px 1446px #82e0aa, 1249px 719px #85c1e9,
    1719px 225px #85c1e9, 3px 1253px #ff5733, 1586px 1305px #ffc300,
    1898px 1659px #ffc300, 445px 812px #82e0aa, 1161px 1089px #85c1e9,
    1405px 1445px #85c1e9, 1992px 1888px #85c1e9, 1233px 1013px #ffc300,
    1299px 1560px #85c1e9, 973px 1954px #daf7a6, 187px 1222px #85c1e9,
    1987px 1631px #85c1e9, 298px 1972px #daf7a6, 302px 1880px #85c1e9,
    1781px 1998px #85c1e9, 1697px 1998px #daf7a6, 763px 1253px #85c1e9,
    604px 918px #82e0aa, 970px 614px #82e0aa, 63px 1892px #ff5733,
    1574px 75px #85c1e9, 1271px 1867px #daf7a6, 1466px 908px #ffc300,
    911px 513px #ffc300, 1243px 386px #85c1e9, 1676px 1520px #ff5733,
    228px 1195px #daf7a6, 1807px 1207px #ff5733, 493px 395px #85c1e9,
    461px 1423px #85c1e9, 146px 1733px #daf7a6, 990px 495px #85c1e9,
    1993px 1633px #daf7a6, 1787px 1353px #85c1e9, 1563px 784px #daf7a6,
    1633px 180px #82e0aa, 1343px 537px #ff5733, 1039px 1322px #82e0aa,
    901px 1052px #82e0aa, 1043px 995px #85c1e9, 1789px 593px #85c1e9,
    1570px 923px #ff5733, 1538px 349px #85c1e9, 1865px 1975px #ff5733,
    203px 602px #ff5733, 279px 1247px #85c1e9, 115px 1158px #ff5733,
    1776px 869px #ff5733, 1037px 317px #85c1e9, 1093px 881px #85c1e9,
    1330px 989px #daf7a6, 107px 36px #85c1e9, 729px 1373px #ffc300,
    1459px 82px #85c1e9, 491px 1269px #ffc300, 1570px 326px #daf7a6,
    1151px 294px #85c1e9, 219px 1364px #daf7a6, 559px 1161px #85c1e9,
    475px 1267px #ffc300, 1988px 1503px #ffc300, 1485px 220px #85c1e9,
    169px 182px #daf7a6, 818px 308px #85c1e9, 958px 1484px #ff5733,
    399px 274px #daf7a6, 1921px 617px #85c1e9, 42px 79px #daf7a6,
    1203px 678px #85c1e9, 767px 466px #ff5733, 1645px 1642px #82e0aa,
    889px 1580px #85c1e9, 815px 1318px #85c1e9, 587px 270px #85c1e9,
    1569px 1399px #ffc300, 445px 1428px #85c1e9, 393px 1246px #85c1e9,
    1352px 1363px #85c1e9, 1427px 1020px #85c1e9, 282px 1115px #82e0aa,
    1868px 162px #85c1e9, 210px 877px #85c1e9, 895px 1310px #daf7a6,
    1622px 65px #85c1e9, 635px 1835px #85c1e9, 176px 483px #85c1e9,
    1563px 1063px #85c1e9, 1957px 1782px #85c1e9, 1300px 993px #daf7a6,
    1826px 1504px #daf7a6, 1579px 832px #85c1e9, 1027px 1476px #85c1e9,
    586px 764px #ff5733, 81px 1477px #daf7a6, 718px 434px #ff5733,
    1950px 656px #85c1e9, 753px 32px #85c1e9, 1842px 693px #85c1e9,
    1178px 1628px #85c1e9, 1100px 1598px #daf7a6, 1107px 955px #daf7a6,
    673px 1212px #85c1e9, 1323px 1902px #85c1e9, 1086px 1398px #85c1e9,
    132px 1975px #82e0aa, 1953px 1076px #85c1e9, 32px 1356px #85c1e9,
    1967px 1348px #daf7a6, 735px 1783px #ff5733, 235px 146px #85c1e9,
    1079px 994px #daf7a6, 1014px 1067px #85c1e9, 1180px 1060px #85c1e9,
    1369px 1869px #82e0aa, 423px 560px #85c1e9, 1166px 1603px #ff5733,
    1342px 807px #85c1e9, 135px 1649px #85c1e9, 1797px 1002px #85c1e9,
    1291px 1532px #85c1e9, 1514px 899px #85c1e9, 1101px 187px #85c1e9,
    268px 1484px #ffc300, 388px 1873px #ffc300, 1231px 1309px #ffc300,
    696px 316px #ffc300, 1251px 1864px #85c1e9, 248px 70px #85c1e9,
    1926px 1437px #ff5733, 545px 1380px #85c1e9, 534px 1474px #85c1e9,
    240px 904px #85c1e9, 1341px 636px #ff5733, 1978px 998px #ffc300,
    1554px 1488px #85c1e9, 937px 453px #85c1e9, 1636px 294px #85c1e9,
    1224px 1681px #85c1e9, 1250px 65px #daf7a6, 930px 910px #ffc300,
    219px 1285px #85c1e9, 1059px 21px #daf7a6, 512px 770px #ffc300,
    212px 196px #ffc300, 889px 1061px #85c1e9, 902px 1933px #daf7a6,
    458px 542px #82e0aa, 835px 1653px #85c1e9, 1660px 1541px #ff5733,
    350px 1268px #daf7a6, 643px 1639px #85c1e9, 1388px 803px #82e0aa,
    484px 1666px #85c1e9, 1262px 309px #85c1e9, 133px 1518px #85c1e9,
    1695px 1152px #85c1e9, 1715px 330px #85c1e9, 950px 739px #ff5733,
    1598px 1975px #ffc300, 1882px 874px #85c1e9, 464px 927px #ffc300,
    752px 1462px #ff5733, 1118px 11px #ffc300, 694px 521px #85c1e9,
    1719px 1902px #85c1e9, 323px 840px #85c1e9, 1204px 571px #85c1e9,
    1180px 1991px #85c1e9, 445px 860px #daf7a6, 491px 220px #82e0aa,
    1937px 102px #85c1e9, 1175px 355px #ffc300, 1928px 542px #ffc300,
    15px 1677px #daf7a6, 274px 256px #daf7a6, 1697px 1459px #85c1e9,
    274px 417px #ff5733, 83px 461px #ff5733, 773px 589px #daf7a6,
    1432px 354px #82e0aa, 357px 466px #ffc300, 1503px 520px #82e0aa,
    844px 1731px #ffc300, 1067px 1218px #85c1e9, 74px 415px #85c1e9,
    1058px 903px #daf7a6, 1402px 1007px #82e0aa, 1246px 452px #85c1e9,
    1961px 1054px #daf7a6, 950px 134px #85c1e9, 521px 1146px #85c1e9,
    1165px 648px #daf7a6, 1465px 825px #daf7a6, 522px 1254px #ff5733,
    1360px 973px #ff5733, 1307px 873px #82e0aa, 477px 2px #85c1e9,
    713px 1783px #ffc300, 308px 151px #daf7a6, 1172px 1515px #82e0aa,
    1419px 342px #85c1e9, 71px 594px #daf7a6, 1465px 940px #85c1e9,
    617px 716px #82e0aa, 821px 815px #ff5733, 1264px 1605px #ff5733,
    1762px 1564px #daf7a6, 1675px 315px #ffc300, 562px 1690px #85c1e9,
    1773px 469px #82e0aa, 1445px 1556px #85c1e9, 1084px 504px #85c1e9,
    1131px 626px #85c1e9, 325px 1210px #ffc300, 436px 1429px #85c1e9,
    788px 1393px #daf7a6, 1210px 1851px #daf7a6, 1255px 1444px #daf7a6,
    1542px 1178px #85c1e9, 1162px 506px #85c1e9, 1035px 324px #85c1e9,
    843px 1818px #ffc300, 1341px 452px #ffc300, 1351px 478px #ff5733,
    339px 831px #daf7a6, 1863px 1245px #85c1e9, 1257px 635px #85c1e9,
    127px 1975px #ffc300, 332px 146px #ff5733, 267px 1110px #85c1e9,
    1688px 2000px #ff5733, 286px 716px #85c1e9, 800px 1087px #85c1e9,
    838px 1082px #daf7a6, 1596px 841px #ffc300, 453px 1718px #daf7a6,
    1053px 790px #ffc300, 1354px 1786px #85c1e9, 1449px 1032px #85c1e9,
    530px 26px #85c1e9, 1957px 799px #85c1e9, 1682px 68px #daf7a6,
    1841px 1502px #82e0aa, 697px 1981px #82e0aa, 1521px 168px #85c1e9,
    1029px 581px #85c1e9, 1545px 1061px #daf7a6, 682px 1258px #85c1e9,
    133px 623px #82e0aa, 138px 269px #ffc300, 443px 1912px #ffc300,
    766px 849px #ff5733, 628px 1998px #ffc300, 1936px 231px #85c1e9,
    1824px 104px #daf7a6, 775px 1401px #ff5733, 1621px 1495px #82e0aa,
    311px 516px #ffc300, 1577px 1003px #daf7a6, 814px 1558px #ff5733,
    945px 165px #85c1e9, 801px 1457px #85c1e9, 1422px 1984px #daf7a6,
    76px 1290px #daf7a6, 33px 505px #daf7a6, 666px 206px #daf7a6,
    246px 1301px #82e0aa, 501px 10px #85c1e9, 1951px 211px #ff5733,
    1653px 1415px #85c1e9, 1049px 724px #85c1e9, 117px 1260px #85c1e9,
    1064px 1979px #daf7a6, 303px 799px #85c1e9, 1440px 1913px #daf7a6,
    1395px 1955px #daf7a6, 944px 897px #ff5733, 266px 222px #daf7a6,
    741px 1613px #85c1e9, 1984px 1628px #85c1e9, 1788px 640px #85c1e9,
    1167px 1930px #85c1e9, 177px 1237px #ff5733, 822px 646px #ffc300,
    1818px 1265px #ffc300, 494px 493px #daf7a6, 839px 1301px #ffc300,
    446px 823px #daf7a6, 1992px 746px #85c1e9, 827px 910px #85c1e9,
    790px 17px #daf7a6, 1652px 173px #ffc300, 527px 1367px #85c1e9,
    1177px 417px #82e0aa, 479px 229px #ffc300, 1970px 1775px #85c1e9,
    131px 664px #85c1e9, 1201px 1791px #ff5733, 1517px 1624px #85c1e9,
    1677px 1129px #85c1e9, 611px 819px #ffc300, 227px 306px #85c1e9,
    872px 1578px #85c1e9, 662px 679px #85c1e9, 1198px 1287px #85c1e9,
    295px 243px #82e0aa, 1081px 19px #85c1e9, 1490px 1238px #daf7a6,
    495px 677px #85c1e9, 1460px 295px #85c1e9, 110px 773px #85c1e9,
    1282px 686px #ffc300, 1812px 1885px #daf7a6, 680px 1022px #daf7a6,
    960px 454px #85c1e9, 761px 1384px #ffc300, 1399px 570px #85c1e9,
    244px 1946px #daf7a6, 255px 499px #85c1e9, 1214px 25px #85c1e9,
    826px 1840px #daf7a6, 1455px 1553px #85c1e9, 629px 1018px #85c1e9,
    1107px 52px #85c1e9, 1686px 1853px #85c1e9, 24px 1223px #85c1e9,
    1852px 1894px #85c1e9, 397px 237px #ff5733, 121px 1273px #ffc300,
    975px 829px #ff5733, 778px 1120px #85c1e9, 1246px 1568px #85c1e9,
    650px 71px #85c1e9, 179px 63px #ff5733, 1787px 1256px #daf7a6,
    1152px 1108px #daf7a6, 768px 308px #daf7a6, 250px 429px #82e0aa,
    861px 505px #82e0aa, 862px 1729px #ff5733, 353px 1619px #daf7a6,
    544px 1751px #85c1e9, 638px 1297px #85c1e9, 568px 351px #85c1e9,
    1113px 1874px #85c1e9, 59px 1911px #daf7a6, 1676px 1041px #daf7a6,
    1817px 1421px #85c1e9, 873px 741px #ff5733, 35px 1163px #ffc300,
    1016px 997px #85c1e9, 1083px 1780px #85c1e9, 1306px 510px #daf7a6,
    1652px 1124px #85c1e9, 21px 1477px #85c1e9, 675px 1470px #daf7a6,
    322px 891px #85c1e9, 1789px 1112px #ffc300, 187px 1257px #82e0aa,
    1248px 1345px #ff5733, 1092px 1699px #ff5733, 871px 1947px #82e0aa,
    1369px 1767px #85c1e9, 1954px 82px #daf7a6, 689px 1919px #ffc300,
    1769px 1990px #85c1e9, 868px 215px #ff5733, 556px 1406px #85c1e9,
    322px 309px #ff5733, 38px 1729px #ffc300, 1223px 48px #85c1e9,
    1953px 1161px #ffc300, 1907px 1326px #85c1e9, 1750px 279px #85c1e9,
    1186px 1047px #daf7a6, 773px 1680px #85c1e9, 694px 592px #ff5733,
    441px 501px #82e0aa, 1475px 486px #82e0aa, 77px 1978px #daf7a6,
    22px 62px #ffc300, 1191px 27px #85c1e9, 546px 689px #ffc300,
    58px 1881px #ffc300, 1094px 803px #daf7a6, 1718px 721px #daf7a6,
    1920px 522px #85c1e9, 1851px 838px #daf7a6, 1757px 1381px #85c1e9,
    699px 1398px #ffc300, 1884px 1001px #ffc300, 46px 1198px #85c1e9,
    60px 758px #85c1e9, 143px 1984px #ffc300, 743px 1153px #85c1e9,
    1527px 799px #82e0aa, 818px 309px #85c1e9, 1179px 471px #85c1e9,
    1918px 555px #daf7a6, 1267px 913px #ffc300, 385px 280px #85c1e9,
    1271px 700px #ff5733, 1849px 1611px #85c1e9, 1235px 473px #ffc300,
    252px 1606px #85c1e9, 546px 306px #85c1e9, 1019px 1840px #daf7a6,
    1406px 21px #82e0aa, 663px 1573px #daf7a6, 280px 1276px #85c1e9,
    1344px 596px #daf7a6, 154px 1863px #daf7a6, 793px 1580px #ffc300,
    1101px 485px #85c1e9, 1764px 1545px #daf7a6, 1989px 633px #85c1e9,
    875px 1513px #85c1e9, 1535px 1521px #ff5733, 93px 944px #85c1e9,
    894px 85px #85c1e9, 793px 1039px #85c1e9, 654px 1309px #82e0aa,
    1176px 1712px #ffc300, 340px 1344px #ff5733, 1338px 1969px #ff5733,
    1837px 430px #ff5733, 1579px 153px #ff5733, 714px 274px #82e0aa,
    1787px 3px #85c1e9, 1214px 57px #daf7a6, 147px 1306px #85c1e9,
    1586px 175px #85c1e9, 1873px 1139px #85c1e9, 503px 1704px #85c1e9,
    932px 1840px #85c1e9, 305px 952px #ffc300, 1529px 386px #82e0aa,
    1887px 847px #ffc300, 1302px 1114px #ffc300, 291px 1381px #82e0aa,
    45px 1940px #daf7a6, 560px 1680px #85c1e9, 1447px 1154px #85c1e9,
    1623px 1983px #ffc300, 1504px 701px #ffc300, 1195px 1639px #85c1e9,
    1281px 1362px #daf7a6, 575px 1973px #85c1e9, 144px 1726px #ff5733,
    733px 1949px #85c1e9, 1692px 1231px #ff5733, 394px 960px #85c1e9,
    1591px 1928px #85c1e9, 1281px 173px #85c1e9, 1901px 640px #85c1e9,
    67px 1025px #daf7a6, 903px 1899px #85c1e9, 574px 1705px #ffc300,
    702px 1197px #85c1e9, 1528px 1144px #daf7a6, 1028px 725px #daf7a6,
    167px 1463px #ffc300, 1577px 1334px #82e0aa, 393px 73px #82e0aa,
    1919px 99px #ffc300, 553px 1304px #ffc300, 464px 383px #ffc300,
    910px 80px #ff5733, 631px 1882px #85c1e9, 1360px 1439px #85c1e9,
    1091px 620px #ff5733, 1004px 1983px #85c1e9, 848px 633px #daf7a6,
    754px 1403px #ff5733, 623px 1300px #ff5733, 1215px 1750px #85c1e9,
    1160px 1020px #82e0aa, 497px 1890px #ffc300, 822px 801px #85c1e9,
    1496px 680px #85c1e9, 703px 162px #85c1e9, 674px 1482px #85c1e9,
    1144px 293px #85c1e9, 1537px 1431px #daf7a6, 838px 406px #daf7a6,
    1004px 659px #daf7a6, 1119px 296px #daf7a6, 170px 609px #ffc300,
    1576px 816px #ffc300, 12px 42px #ff5733, 1014px 827px #85c1e9,
    1636px 1335px #85c1e9, 1108px 522px #82e0aa, 1501px 623px #daf7a6,
    1402px 1766px #ff5733, 998px 633px #ffc300, 1190px 1340px #ffc300,
    1009px 626px #85c1e9, 1150px 573px #daf7a6, 362px 1327px #85c1e9,
    10px 339px #ff5733, 65px 1334px #85c1e9, 1513px 511px #85c1e9,
    1544px 56px #85c1e9, 1630px 915px #daf7a6, 851px 254px #ffc300,
    963px 464px #daf7a6, 979px 1255px #82e0aa, 1849px 1558px #ffc300,
    1895px 1758px #85c1e9, 435px 132px #daf7a6, 101px 1784px #85c1e9,
    1743px 1544px #85c1e9, 1942px 1066px #ffc300, 1122px 1558px #85c1e9,
    1074px 549px #ffc300, 547px 373px #daf7a6, 1770px 42px #85c1e9,
    529px 814px #85c1e9, 1239px 1199px #85c1e9, 1022px 1976px #82e0aa,
    478px 1907px #ffc300, 1826px 351px #daf7a6, 1223px 1905px #ff5733,
    1847px 1609px #85c1e9, 461px 387px #daf7a6, 387px 1793px #85c1e9,
    979px 1405px #82e0aa;
}
.parallax #stars2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1546px 1113px #daf7a6, 1759px 1615px #85c1e9, 1594px 968px #82e0aa,
    1779px 109px #85c1e9, 470px 1984px #ff5733, 1673px 632px #daf7a6,
    634px 155px #daf7a6, 1764px 1430px #82e0aa, 459px 1010px #ffc300,
    1025px 646px #daf7a6, 455px 1690px #82e0aa, 902px 923px #85c1e9,
    332px 173px #daf7a6, 613px 1561px #daf7a6, 450px 478px #daf7a6,
    573px 1020px #ffc300, 1312px 1365px #85c1e9, 903px 1305px #ffc300,
    210px 1373px #85c1e9, 103px 227px #85c1e9, 1992px 319px #ff5733,
    281px 1930px #ffc300, 1873px 1889px #ffc300, 1163px 1600px #ff5733,
    889px 1260px #daf7a6, 1799px 1926px #ffc300, 1630px 1165px #daf7a6,
    387px 355px #daf7a6, 773px 605px #85c1e9, 1803px 541px #85c1e9,
    1989px 655px #daf7a6, 1049px 391px #85c1e9, 1784px 1907px #daf7a6,
    131px 1502px #82e0aa, 167px 1693px #daf7a6, 1416px 1184px #85c1e9,
    235px 1348px #ff5733, 443px 1821px #daf7a6, 1782px 610px #daf7a6,
    742px 1444px #85c1e9, 72px 915px #daf7a6, 1415px 340px #82e0aa,
    1347px 847px #daf7a6, 970px 457px #85c1e9, 1542px 1299px #daf7a6,
    1456px 1557px #85c1e9, 1456px 876px #85c1e9, 1031px 773px #82e0aa,
    1883px 282px #85c1e9, 1051px 1171px #82e0aa, 1757px 262px #daf7a6,
    825px 1160px #ffc300, 657px 123px #ff5733, 461px 151px #85c1e9,
    327px 242px #85c1e9, 1825px 556px #82e0aa, 913px 1059px #85c1e9,
    466px 1738px #85c1e9, 1901px 1556px #daf7a6, 1505px 74px #82e0aa,
    1003px 1001px #85c1e9, 1816px 1960px #85c1e9, 488px 1418px #82e0aa,
    979px 1052px #ff5733, 124px 1701px #daf7a6, 1679px 1714px #85c1e9,
    1740px 1484px #daf7a6, 1699px 1583px #ff5733, 83px 1775px #ffc300,
    1623px 2000px #85c1e9, 647px 970px #85c1e9, 1780px 1668px #85c1e9,
    1760px 143px #ff5733, 1309px 225px #ffc300, 555px 1968px #daf7a6,
    1052px 832px #82e0aa, 1098px 725px #daf7a6, 264px 1002px #85c1e9,
    727px 523px #85c1e9, 1172px 351px #85c1e9, 1801px 130px #daf7a6,
    1411px 852px #ffc300, 979px 890px #daf7a6, 444px 1868px #daf7a6,
    772px 594px #82e0aa, 79px 1279px #ffc300, 1550px 368px #ff5733,
    663px 1821px #daf7a6, 166px 1631px #85c1e9, 1846px 1397px #daf7a6,
    1573px 113px #ffc300, 414px 704px #85c1e9, 798px 1476px #85c1e9,
    596px 421px #85c1e9, 679px 1599px #82e0aa, 53px 1693px #daf7a6,
    198px 768px #daf7a6, 316px 1509px #85c1e9, 256px 1103px #85c1e9,
    470px 515px #85c1e9, 784px 1743px #daf7a6, 155px 1928px #85c1e9,
    1255px 1066px #85c1e9, 1684px 82px #85c1e9, 1431px 1239px #85c1e9,
    1395px 1867px #daf7a6, 428px 1746px #82e0aa, 1929px 1989px #ff5733,
    1308px 893px #82e0aa, 1773px 1656px #daf7a6, 752px 785px #82e0aa,
    1888px 1413px #85c1e9, 986px 1677px #daf7a6, 593px 1981px #85c1e9,
    58px 61px #ffc300, 1034px 1194px #ffc300, 643px 866px #ffc300,
    1961px 1673px #daf7a6, 1623px 1096px #daf7a6, 443px 1914px #82e0aa,
    855px 1816px #ffc300, 577px 1580px #ff5733, 1679px 359px #ffc300,
    487px 1621px #85c1e9, 661px 665px #ff5733, 100px 949px #85c1e9,
    1772px 222px #85c1e9, 1942px 1229px #ff5733, 1947px 801px #85c1e9,
    313px 3px #daf7a6, 1421px 1100px #85c1e9, 1277px 1743px #daf7a6,
    1372px 874px #daf7a6, 1118px 1264px #ff5733, 1910px 805px #daf7a6,
    395px 737px #daf7a6, 1735px 714px #ffc300, 511px 514px #85c1e9,
    1754px 682px #daf7a6, 345px 1642px #85c1e9, 626px 1045px #ff5733,
    180px 1223px #ffc300, 37px 474px #85c1e9, 1138px 423px #ffc300,
    1843px 1437px #85c1e9, 1114px 151px #daf7a6, 681px 1122px #ff5733,
    338px 1802px #ffc300, 1419px 1852px #85c1e9, 930px 1963px #85c1e9,
    1594px 275px #85c1e9, 765px 692px #85c1e9, 244px 334px #ff5733,
    246px 1106px #ff5733, 304px 44px #85c1e9, 1147px 975px #85c1e9,
    1371px 855px #85c1e9, 813px 1334px #daf7a6, 1674px 1792px #ff5733,
    1999px 1527px #ffc300, 367px 118px #85c1e9, 1687px 1544px #ffc300,
    1900px 769px #daf7a6, 1087px 1988px #ff5733, 1143px 1742px #ffc300,
    1529px 299px #85c1e9, 742px 1267px #ffc300, 1853px 643px #daf7a6,
    521px 419px #daf7a6, 1597px 1663px #85c1e9, 349px 1025px #85c1e9,
    231px 1276px #85c1e9, 1295px 897px #85c1e9, 889px 703px #85c1e9,
    681px 1908px #85c1e9, 1281px 173px #ff5733, 137px 1908px #85c1e9,
    1964px 1062px #daf7a6, 268px 1976px #82e0aa, 884px 314px #85c1e9,
    1662px 432px #85c1e9, 1578px 927px #daf7a6, 423px 881px #85c1e9,
    1093px 1118px #ffc300, 1204px 1902px #85c1e9, 537px 261px #ffc300,
    1050px 1740px #ffc300, 789px 1455px #85c1e9, 714px 1755px #ffc300,
    1696px 1760px #85c1e9, 1858px 903px #ffc300, 308px 528px #85c1e9,
    301px 355px #daf7a6, 1802px 1903px #daf7a6, 1798px 811px #82e0aa,
    1542px 1681px #85c1e9, 1604px 1796px #daf7a6, 590px 465px #daf7a6,
    966px 288px #85c1e9, 1540px 1145px #daf7a6;
  animation: animStar 100s linear infinite;
}
.parallax #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1546px 1113px #daf7a6, 1759px 1615px #85c1e9, 1594px 968px #82e0aa,
    1779px 109px #85c1e9, 470px 1984px #ff5733, 1673px 632px #daf7a6,
    634px 155px #daf7a6, 1764px 1430px #82e0aa, 459px 1010px #ffc300,
    1025px 646px #daf7a6, 455px 1690px #82e0aa, 902px 923px #85c1e9,
    332px 173px #daf7a6, 613px 1561px #daf7a6, 450px 478px #daf7a6,
    573px 1020px #ffc300, 1312px 1365px #85c1e9, 903px 1305px #ffc300,
    210px 1373px #85c1e9, 103px 227px #85c1e9, 1992px 319px #ff5733,
    281px 1930px #ffc300, 1873px 1889px #ffc300, 1163px 1600px #ff5733,
    889px 1260px #daf7a6, 1799px 1926px #ffc300, 1630px 1165px #daf7a6,
    387px 355px #daf7a6, 773px 605px #85c1e9, 1803px 541px #85c1e9,
    1989px 655px #daf7a6, 1049px 391px #85c1e9, 1784px 1907px #daf7a6,
    131px 1502px #82e0aa, 167px 1693px #daf7a6, 1416px 1184px #85c1e9,
    235px 1348px #ff5733, 443px 1821px #daf7a6, 1782px 610px #daf7a6,
    742px 1444px #85c1e9, 72px 915px #daf7a6, 1415px 340px #82e0aa,
    1347px 847px #daf7a6, 970px 457px #85c1e9, 1542px 1299px #daf7a6,
    1456px 1557px #85c1e9, 1456px 876px #85c1e9, 1031px 773px #82e0aa,
    1883px 282px #85c1e9, 1051px 1171px #82e0aa, 1757px 262px #daf7a6,
    825px 1160px #ffc300, 657px 123px #ff5733, 461px 151px #85c1e9,
    327px 242px #85c1e9, 1825px 556px #82e0aa, 913px 1059px #85c1e9,
    466px 1738px #85c1e9, 1901px 1556px #daf7a6, 1505px 74px #82e0aa,
    1003px 1001px #85c1e9, 1816px 1960px #85c1e9, 488px 1418px #82e0aa,
    979px 1052px #ff5733, 124px 1701px #daf7a6, 1679px 1714px #85c1e9,
    1740px 1484px #daf7a6, 1699px 1583px #ff5733, 83px 1775px #ffc300,
    1623px 2000px #85c1e9, 647px 970px #85c1e9, 1780px 1668px #85c1e9,
    1760px 143px #ff5733, 1309px 225px #ffc300, 555px 1968px #daf7a6,
    1052px 832px #82e0aa, 1098px 725px #daf7a6, 264px 1002px #85c1e9,
    727px 523px #85c1e9, 1172px 351px #85c1e9, 1801px 130px #daf7a6,
    1411px 852px #ffc300, 979px 890px #daf7a6, 444px 1868px #daf7a6,
    772px 594px #82e0aa, 79px 1279px #ffc300, 1550px 368px #ff5733,
    663px 1821px #daf7a6, 166px 1631px #85c1e9, 1846px 1397px #daf7a6,
    1573px 113px #ffc300, 414px 704px #85c1e9, 798px 1476px #85c1e9,
    596px 421px #85c1e9, 679px 1599px #82e0aa, 53px 1693px #daf7a6,
    198px 768px #daf7a6, 316px 1509px #85c1e9, 256px 1103px #85c1e9,
    470px 515px #85c1e9, 784px 1743px #daf7a6, 155px 1928px #85c1e9,
    1255px 1066px #85c1e9, 1684px 82px #85c1e9, 1431px 1239px #85c1e9,
    1395px 1867px #daf7a6, 428px 1746px #82e0aa, 1929px 1989px #ff5733,
    1308px 893px #82e0aa, 1773px 1656px #daf7a6, 752px 785px #82e0aa,
    1888px 1413px #85c1e9, 986px 1677px #daf7a6, 593px 1981px #85c1e9,
    58px 61px #ffc300, 1034px 1194px #ffc300, 643px 866px #ffc300,
    1961px 1673px #daf7a6, 1623px 1096px #daf7a6, 443px 1914px #82e0aa,
    855px 1816px #ffc300, 577px 1580px #ff5733, 1679px 359px #ffc300,
    487px 1621px #85c1e9, 661px 665px #ff5733, 100px 949px #85c1e9,
    1772px 222px #85c1e9, 1942px 1229px #ff5733, 1947px 801px #85c1e9,
    313px 3px #daf7a6, 1421px 1100px #85c1e9, 1277px 1743px #daf7a6,
    1372px 874px #daf7a6, 1118px 1264px #ff5733, 1910px 805px #daf7a6,
    395px 737px #daf7a6, 1735px 714px #ffc300, 511px 514px #85c1e9,
    1754px 682px #daf7a6, 345px 1642px #85c1e9, 626px 1045px #ff5733,
    180px 1223px #ffc300, 37px 474px #85c1e9, 1138px 423px #ffc300,
    1843px 1437px #85c1e9, 1114px 151px #daf7a6, 681px 1122px #ff5733,
    338px 1802px #ffc300, 1419px 1852px #85c1e9, 930px 1963px #85c1e9,
    1594px 275px #85c1e9, 765px 692px #85c1e9, 244px 334px #ff5733,
    246px 1106px #ff5733, 304px 44px #85c1e9, 1147px 975px #85c1e9,
    1371px 855px #85c1e9, 813px 1334px #daf7a6, 1674px 1792px #ff5733,
    1999px 1527px #ffc300, 367px 118px #85c1e9, 1687px 1544px #ffc300,
    1900px 769px #daf7a6, 1087px 1988px #ff5733, 1143px 1742px #ffc300,
    1529px 299px #85c1e9, 742px 1267px #ffc300, 1853px 643px #daf7a6,
    521px 419px #daf7a6, 1597px 1663px #85c1e9, 349px 1025px #85c1e9,
    231px 1276px #85c1e9, 1295px 897px #85c1e9, 889px 703px #85c1e9,
    681px 1908px #85c1e9, 1281px 173px #ff5733, 137px 1908px #85c1e9,
    1964px 1062px #daf7a6, 268px 1976px #82e0aa, 884px 314px #85c1e9,
    1662px 432px #85c1e9, 1578px 927px #daf7a6, 423px 881px #85c1e9,
    1093px 1118px #ffc300, 1204px 1902px #85c1e9, 537px 261px #ffc300,
    1050px 1740px #ffc300, 789px 1455px #85c1e9, 714px 1755px #ffc300,
    1696px 1760px #85c1e9, 1858px 903px #ffc300, 308px 528px #85c1e9,
    301px 355px #daf7a6, 1802px 1903px #daf7a6, 1798px 811px #82e0aa,
    1542px 1681px #85c1e9, 1604px 1796px #daf7a6, 590px 465px #daf7a6,
    966px 288px #85c1e9, 1540px 1145px #daf7a6;
}
.parallax #stars3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 58px 418px #85c1e9, 1245px 227px #ff5733, 1129px 133px #85c1e9,
    912px 1511px #82e0aa, 1398px 1165px #ffc300, 669px 1505px #daf7a6,
    216px 322px #ffc300, 939px 221px #ffc300, 108px 389px #85c1e9,
    196px 692px #ffc300, 77px 1286px #daf7a6, 1812px 538px #ffc300,
    561px 73px #82e0aa, 1024px 440px #85c1e9, 942px 1294px #85c1e9,
    1320px 960px #85c1e9, 1564px 1927px #ffc300, 249px 1596px #ff5733,
    1959px 675px #ffc300, 1359px 1603px #85c1e9, 1037px 1192px #85c1e9,
    954px 908px #ff5733, 865px 1952px #daf7a6, 707px 562px #85c1e9,
    869px 1585px #ff5733, 301px 720px #ffc300, 195px 1346px #82e0aa,
    106px 1676px #85c1e9, 1181px 186px #daf7a6, 1340px 908px #85c1e9,
    1326px 1935px #85c1e9, 543px 943px #85c1e9, 800px 1142px #ffc300,
    1965px 873px #ff5733, 669px 93px #ff5733, 105px 367px #ff5733,
    1738px 343px #daf7a6, 115px 1630px #daf7a6, 1803px 506px #daf7a6,
    1997px 1523px #ffc300, 1107px 1258px #ffc300, 1690px 813px #daf7a6,
    1257px 428px #85c1e9, 1085px 1117px #82e0aa, 1692px 258px #85c1e9,
    683px 154px #daf7a6, 943px 56px #85c1e9, 1185px 1494px #85c1e9,
    1511px 1218px #85c1e9, 1234px 823px #daf7a6, 689px 34px #85c1e9,
    992px 384px #85c1e9, 1497px 335px #85c1e9, 956px 58px #85c1e9,
    1068px 869px #ffc300, 1345px 1163px #82e0aa, 1828px 1184px #85c1e9,
    1365px 1770px #85c1e9, 782px 981px #85c1e9, 1998px 1609px #ffc300,
    1856px 327px #daf7a6, 888px 521px #daf7a6, 1643px 1162px #daf7a6,
    886px 840px #85c1e9, 1284px 294px #ffc300, 1845px 1527px #ffc300,
    1877px 1181px #ff5733, 1823px 978px #daf7a6, 1358px 1501px #85c1e9,
    1804px 684px #85c1e9, 454px 235px #85c1e9, 821px 713px #ffc300,
    1866px 101px #ff5733, 542px 448px #85c1e9, 357px 706px #82e0aa,
    182px 515px #daf7a6, 1839px 380px #85c1e9, 1753px 1485px #ffc300,
    367px 113px #82e0aa, 537px 396px #ffc300, 157px 434px #85c1e9,
    861px 708px #85c1e9, 349px 1631px #daf7a6, 688px 1677px #85c1e9,
    1515px 1403px #ffc300, 829px 661px #ffc300, 1902px 1228px #ffc300,
    234px 730px #daf7a6, 1159px 1832px #85c1e9, 1236px 1390px #85c1e9,
    1781px 1375px #85c1e9, 82px 1753px #ff5733, 1787px 897px #82e0aa,
    775px 722px #82e0aa, 1278px 943px #85c1e9, 1838px 1774px #daf7a6,
    1408px 1158px #ffc300, 1917px 1343px #daf7a6, 1329px 729px #ff5733,
    481px 898px #85c1e9;
  animation: animStar 50s linear infinite;
}
.parallax #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 58px 418px #85c1e9, 1245px 227px #ff5733, 1129px 133px #85c1e9,
    912px 1511px #82e0aa, 1398px 1165px #ffc300, 669px 1505px #daf7a6,
    216px 322px #ffc300, 939px 221px #ffc300, 108px 389px #85c1e9,
    196px 692px #ffc300, 77px 1286px #daf7a6, 1812px 538px #ffc300,
    561px 73px #82e0aa, 1024px 440px #85c1e9, 942px 1294px #85c1e9,
    1320px 960px #85c1e9, 1564px 1927px #ffc300, 249px 1596px #ff5733,
    1959px 675px #ffc300, 1359px 1603px #85c1e9, 1037px 1192px #85c1e9,
    954px 908px #ff5733, 865px 1952px #daf7a6, 707px 562px #85c1e9,
    869px 1585px #ff5733, 301px 720px #ffc300, 195px 1346px #82e0aa,
    106px 1676px #85c1e9, 1181px 186px #daf7a6, 1340px 908px #85c1e9,
    1326px 1935px #85c1e9, 543px 943px #85c1e9, 800px 1142px #ffc300,
    1965px 873px #ff5733, 669px 93px #ff5733, 105px 367px #ff5733,
    1738px 343px #daf7a6, 115px 1630px #daf7a6, 1803px 506px #daf7a6,
    1997px 1523px #ffc300, 1107px 1258px #ffc300, 1690px 813px #daf7a6,
    1257px 428px #85c1e9, 1085px 1117px #82e0aa, 1692px 258px #85c1e9,
    683px 154px #daf7a6, 943px 56px #85c1e9, 1185px 1494px #85c1e9,
    1511px 1218px #85c1e9, 1234px 823px #daf7a6, 689px 34px #85c1e9,
    992px 384px #85c1e9, 1497px 335px #85c1e9, 956px 58px #85c1e9,
    1068px 869px #ffc300, 1345px 1163px #82e0aa, 1828px 1184px #85c1e9,
    1365px 1770px #85c1e9, 782px 981px #85c1e9, 1998px 1609px #ffc300,
    1856px 327px #daf7a6, 888px 521px #daf7a6, 1643px 1162px #daf7a6,
    886px 840px #85c1e9, 1284px 294px #ffc300, 1845px 1527px #ffc300,
    1877px 1181px #ff5733, 1823px 978px #daf7a6, 1358px 1501px #85c1e9,
    1804px 684px #85c1e9, 454px 235px #85c1e9, 821px 713px #ffc300,
    1866px 101px #ff5733, 542px 448px #85c1e9, 357px 706px #82e0aa,
    182px 515px #daf7a6, 1839px 380px #85c1e9, 1753px 1485px #ffc300,
    367px 113px #82e0aa, 537px 396px #ffc300, 157px 434px #85c1e9,
    861px 708px #85c1e9, 349px 1631px #daf7a6, 688px 1677px #85c1e9,
    1515px 1403px #ffc300, 829px 661px #ffc300, 1902px 1228px #ffc300,
    234px 730px #daf7a6, 1159px 1832px #85c1e9, 1236px 1390px #85c1e9,
    1781px 1375px #85c1e9, 82px 1753px #ff5733, 1787px 897px #82e0aa,
    775px 722px #82e0aa, 1278px 943px #85c1e9, 1838px 1774px #daf7a6,
    1408px 1158px #ffc300, 1917px 1343px #daf7a6, 1329px 729px #ff5733,
    481px 898px #85c1e9;
}
@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
